@value colors: './styles/colors.module.css';
@value mtDeepBlue, mtBlue, mtGray, mtDarkGray, mtOrange, mtDeepOrange, mtLighterBlue from colors;

:global(html) {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

:global(*),
:global(*:before),
:global(*:after) {
  box-sizing: inherit;
}

:global(body) {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global(code) {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:global(#root) {
  height: 100%;
}

:global(.fullHeight) {
  min-height: 100%;
}

:global(input[type='text']),
:global(input[type='file']),
:global(input[type='phone']),
:global(input[type='email']),
:global(input[type='number']),
:global(select) {
  height: 2em;
}

:global(input[type='text']),
:global(input[type='file']),
:global(input[type='phone']),
:global(input[type='email']),
:global(input[type='number']),
:global(textarea),
:global(select) {
  width: 100%;
  background-color: #fff;
}

:global(input[type='radio']),
:global(input[type='checkbox']) {
  margin: 0 0.25em;
}

:global(textarea) {
  resize: vertical;
}

:global(input),
:global(textarea),
:global(select) {
  border-radius: 0.25em;
  border: 2px solid mtBlue;
  padding: 0.25em;
}

:global(input:focus),
:global(textarea:focus),
:global(select:focus) {
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

:global(label) {
  display: inline-block;
  width: 100%;
  padding-bottom: 0.25em;
}

:global(h1),
:global(h2),
:global(h3),
:global(h4),
:global(h5),
:global(h6) {
  font-family: 'Lato', sans-serif;
}

:global(.buttonDefault) {
  display: inline-block;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: inherit;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-transform: none;
  font-weight: normal;
  cursor: pointer;
  text-align: center;
}

:global(.buttonDefault:hover),
:global(.buttonDefault:focus) {
  background: transparent;
}

:global(.buttonDefault:focus) {
  outline: 1px solid #fff;
  outline-offset: 0.125em;
}

:global(.buttonDefault:active) {
  transform: none;
}

:global(button),
:global(.buttonStyle) {
  display: inline-block;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  margin: 0;
  text-decoration: none;
  background: mtOrange;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  text-align: center;
  transition: background 125ms ease-in-out, transform 125ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

:global(button:hover),
:global(button:focus),
:global(.buttonStyle:hover),
:global(.buttonStyle:focus) {
  background: mtDeepOrange;
}

:global(button:focus) {
  outline: 1px solid #fff;
  outline-offset: 0.125em;
}

:global(button:active) {
  transform: scale(0.99);
}

:global(button:disabled),
:global(.buttonStyle[disabled]) {
  background: #ccc;
}
:global(button.cancel),
:global(a.cancel) {
  color: white;
  background-color: mtGray;
}
:global(button.cancel:hover),
:global(a.cancel:hover) {
  background-color: mtDarkGray;
}

:global(a) {
  color: mtDeepBlue;
  text-decoration: none;
}

:global(.tag) {
  background-color: mtDeepBlue;
  color: #fff;
  text-transform: uppercase;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  margin: 0 0.2rem 0.4rem;
  font-weight: 700;
  font-size: 0.875rem;
}

:global(.divider) {
  border-top: 0.125em dashed mtBlue;
  margin: 2em 1em;
  font-weight: 900;
}
:global(.backButton) {
  font-weight: 700;
  margin-left: 3.6rem;
  display: flex;
}
:global(.backButton::before) {
  border-radius: 50%;
  border: 0.125rem solid mtDeepBlue;
  content: '\2190';
  display: block;
  font-size: 2rem;
  padding: 0rem 0.25rem 0.4rem 0.3rem;
  position: absolute;
  margin-top: -0.6875rem;
  line-height: 2rem;
  margin-left: -3rem;
}
:global(.searchTerms__Button) {
  display: block;
  word-break: break-all;
  margin: 0.5em;
  background-color: mtGray;
  color: #000;
  display: inline-flex;
  justify-content: space-between;
}

:global(.searchTerms__Button:focus),
:global(.searchTerms__Button:hover) {
  background-color: mtDarkGray;
}

:global(.searchTerms__Button__x) {
  width: 1em;
  height: 1em;
  background-color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  flex-shrink: 0;
}

:global(.textCenter) {
  text-align: center;
}

:global(.textLeft) {
  text-align: left;
}

:global(.textBold) {
  font-weight: 700;
}
:global(.radioButton) {
  width: 0;
  height: 0;
  opacity: 0;
}
:global(.radioButtonLabel) {
  margin-left: 2rem;
  height: 1.5625rem;
  padding: 0;
  display: flex;
  align-items: center;
}
:global(.radioButtonLabel::before) {
  background: #fff;
  border-radius: 100%;
  border: 0.125rem solid mtBlue;
  content: '';
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 1.5625rem;
  height: 1.5625rem;
  position: absolute;
  margin-left: -2rem;
}
:global(.radioButton:checked + .radioButtonLabel::before),
:global(.radioButtonChecked + .radioButtonLabel::before) {
  border-width: 0.6rem;
}

:global(.contentPage h1) {
  border-bottom: 5px #ededed solid;
  font-size: 2.82em;
  padding-bottom: 3.5rem;
  text-align: center;
  word-break: break-word;
}
@media (max-width: 48rem) {
  :global(h1) {
    font-size: 1.5em;
    margin: 0.67em 0;
    word-break: break-word;
  }
}

:global(.contentPage h2) {
  font-size: 2em;
  text-align: center;
  word-break: break-word;
}

:global(.contentPage h3) {
  font-size: 1.4em;
  word-break: break-word;
}

:global(.contentPage p) {
  font-size: 1rem;
  line-height: 1.4rem;
}

:global(.contentPage ul) {
  padding-left: 1.2rem;
}

:global(.contentPage ol) {
  list-style: none;
}

:global(.contentPage ol li) {
  margin-bottom: 1rem;
}

:global(.contentPage ul li) {
  line-height: 1.9rem;
}

:global(.ScrollToTop) {
  text-align: center;
  font-weight: bold;
}

:global(.ScrollToTop__button) {
  background-color: transparent;
  color: mtDeepBlue;
}

:global(.ScrollToTop__button__svg) {
  margin-right: 5px;
  position: relative;
  top: 4px;
}

:global(.ScrollToTop__button:hover),
:global(.ScrollToTop__button:focus) {
  background-color: transparent;
  color: mtDeepBlue;
}

:global(.ScrollToTop__button:focus) {
  outline: initial;
  outline: auto 5px -webkit-focus-ring-color;
}

:global(.bigImage) {
  margin: 2rem 0;
  max-width: 100%;
}

:global(.disabledLink) {
  background-color: #ccc;
  border-radius: 0.5rem;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  margin: 1rem 1rem 1rem 0;
  padding: 0.5rem 0.5rem;
}

:global(.buttonLink) {
  background-color: transparent;
  color: mtDeepBlue;
  cursor: pointer;
  text-transform: none;
}

:global(.buttonLink:hover) {
  background-color: transparent;
}

:global(.buttonLink:focus) {
  background-color: transparent;
  border: 1px solid mtBlue;
}

:global(.hide) {
  display: none;
}
:global(.embeddedLiftup) {
  background-color: mtLighterBlue;
  padding: 2rem 1rem;
}

:global(.checkboxInput) {
  opacity: 0;
  width: 0;
  height: 0;
  display: inline-block;
}
:global(.checkboxLabel) {
  display: flex;
  margin-left: 1.5rem;
}
:global(.checkboxLabel::before) {
  background: #fff;
  border-radius: 0.0625rem;
  border: 0.0625rem solid mtGray;
  content: '';
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 1.1875rem;
  height: 1.1875rem;
  position: absolute;
  margin-left: -1.5rem;
}
:global(.checkboxInput:checked + .checkboxLabel:before) {
  background-color: mtOrange;
  color: #fff;
  content: '\2713\0020';
  font-size: 1rem;
  padding-left: 3px;
}
:global(.checkboxInput:focus + .checkboxLabel::before) {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

:global(.overflowAuto) {
  overflow: auto;
}

:global(input[type='text']:invalid) {
  background-color: mtOrange;
}

:global(.requiredIndicator) {
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
}
