.accordion {
  transition: max-height 0.8s ease-out;
}

.accordionShort {
  overflow-y: hidden;
  transition: max-height 0.8s ease-in;
}

.accordionButtonIcon {
  position: relative;
  top: 0.15rem;
}

.accordionButton {
  margin-top: 1rem;
  padding: 0.35rem 1rem 0.5rem 0.5rem;
}

.accordionButtonIcon > svg {
  transition: 0.5s ease-in-out;
}

.accordionButtonIconOpen > svg {
  transition: 0.5s ease-in-out;
  transform: rotate(180deg);
}
